*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures

.idea/.name

.idea/compiler.xml

.idea/copyright/profiles_settings.xml

.idea/misc.xml

.idea/runConfigurations.xml

app/build.gradle

app/proguard-rules.pro

.idea/gradle.xml

.idea/modules.xml

.idea/vcs.xml

app/src/androidTest/java/com/wakeapp/wakeapp/ApplicationTest.java

app/src/test/java/com/wakeapp/wakeapp/ExampleUnitTest.java

build.gradle

gradle.properties

*.jar

gradle/wrapper/gradle-wrapper.properties

gradlew.bat

gradlew

settings.gradle
